.contact-title {
    margin-top: -60px;
    background-color: #C9EFC7;
}

.contact-main {
    background-color: var(--primaryColor);
    background-image: url("/images/shop-waves.svg");
    background-size: cover;
    min-height: 2000px;
}

.contact-footer {
    background-color: #4D7E3E;
}

.h1-contact {
    margin-top: 0;
    color: #4D7E3E;
}

.contact-title-img {
    margin-top: 50px;
}