.products-title{
    background-color: #C9EFC7;
}

.products-main {
    background-color: #eeeee4;
}

.products-footer {
    background-color:#4D7E3E;
}

.h1-products {
    margin-top: 0;
    color: #4D7E3E;
}

.products-title-img{
    margin-top: 50px;
}