/* COLORVARIABLES */

* {
    --primaryColor: #4D7E3E;
    --primaryLight: #C9EFC7;
    --mainWhite: #fff;
    --mainBlack: #222222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}



.shop-title {
    background-color: var(--primaryLight);
    margin-top: -60px;
}

.shop-main {
    background-color: var(--primaryColor);
    /* background-image: url("/images/shop-waves.svg"); */
    background-size: cover;
    min-height: 1500px;
}

.shop-footer {
    background-color: var(--primaryColor);
    height: auto;
    width: 100%;
}

.h1-shop {
    margin-top: 0;
    color: var(--mainBlack);
}

.shop-title-img {
    margin-top: 100px;
    align-items: center;
    height: 230px;
    width: 1000px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: var(--mainBlack);
    background: var(--mainWhite);
    font-family: "Lato", sans-serif;
}

/* --------------- Navbar ---------------- */
.navbar {
    position: sticky;
    top: 0;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background: rgba(77, 126, 62, 0.5);
    z-index: 1;
}

.navbar-light {
    background: rgba(201, 239, 199, 0.7);
}

.navbar-center {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
}

.nav-icon {
    font-size: 1.7rem;
    padding-right: 1.5rem;
}

.cart-btn {
    position: relative;
    cursor: pointer;
}

.cart-items {
    position: absolute;
    top: 8px;
    right: -8px;
    background: var(--primaryColor);
    padding: 0 5px;
    border-radius: 30%;
    color: var(--mainWhite);
}

/* --------------- End of Navbar ---------------- */

/* --------------- Products ---------------- */

.card-img-top {
    height: 500px;
    width: 500px;
}

.card-img-top-small {
    height: 150px;
    width: 150px;
}

.products {
    padding: 0rem 0;
    padding-top: 5rem;
}

.section-title h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 5rem;
    text-transform: capitalize;
    letter-spacing: var(--mainSpacing);
}

.products-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
    margin: 0;
}

/* ---------------End of Products ---------------- */

/*  ---------------- Small screens  ---------------*/
@media screen and (max-width: 400px) {
    .card-img-top-small {
        height: 50px;
        width: 50px;
    }

    .card-img-top {
        height: 150px;
        width: 150px;
    }

    .products-center {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 1.5rem;
        grid-row-gap: 2rem;
        margin: 0;
    }

    .shop-title-img {
        margin-top: 100px;
        align-items: center;
        height: 80px;
        width: 350px;
    }
}