@import url("https://fonts.googleapis.com/css?family=Lato:400,700");

:root {
  --primaryColor: #4D7E3E;
  --primaryLight: #C9EFC7;
  --mainWhite: #fff;
  --mainBlack: #222222;
  --mainGrey: #ececec;
  --mainSpacing: 0.1rem;
  --mainTransition: all 0.3s linear;
  --topDarkGradient: linear-gradient(var(--primaryColor), var(--primaryLight));
  --topLightGradient: linear-gradient(var(--primaryLight), var(--primaryColor))
}

* {
  font-family: 'Lato', sans-serif;
}

h1 {
  margin: 50px auto 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 90px;
  color: var(--mainBlack);
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding-top: 16px;
  font-size: 2.5rem;
  color: var(--mainBlack);
  font-weight: normal;
  padding-top: 2.5rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  color: var(--mainBlack);
}

p {
  margin: 0;
  padding-top: 8px;
  padding-bottom: 16px;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  font-size: 1.2rem;
  color: var(--mainBlack);
}

a:hover {
  text-decoration: underline;
}

hr {
  border: 10px dotted var(--primaryColor);
  border-style: none none dotted;
  color: var(--mainBlack);
  width: 200px;
  padding: 50px;
  margin: 0px auto 50px auto;
}



/******* CLASS SELECTORS ********/
.title-img {
  align-items: center;
}

.top {
  background-color: var(--primaryColor);
  margin-top: -60px;
  border: 10px;
  padding: 20px;
}

.card {
  min-height: 321px;
}

.title-card {
  background-color: rgba(201, 239, 199, 1);
}

.card-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
}

.equipment-info-cards {
  background-color: var(--primaryLight);
  margin-top: 0;
  background-image: url("/images/stacked-waves-top-dark.svg");
  background-size: cover;
  min-height: 1200px;
}

.intro-row {
  max-width: 50%;
  text-align: left;
  margin: auto;
  padding-bottom: 100px;
}

.dog_img {
  border-radius: 0%;
  width: 20%;
  float: left;
  margin-right: 30px;
}

.food_img {
  border-radius: 0%;
  width: 15%;
  float: right;
  margin-left: 30px;
}

.collar_img {
  border-radius: 0%;
  width: 15%;
  float: left;
  margin-right: 30px;

}

.contact-me {
  background-color: var(--primaryLight);
  background-image: url("/images/wave-haikei.svg");
  background-size: cover;
  line-height: 2;
  color: var(--primaryColor);

}

.bottom {
  background-color: var(--primaryColor);
  line-height: 3;
  font-size: 0.8rem;
}

.pro {
  text-decoration: underline;
}


.h1-primary {
  color: var(--mainBlack);
}

.h2-primary {
  color: var(--mainBlack);
  padding: 3rem 0;
}